# GitLab
GITLAB_TOKEN=your_gitlab_personal_access_token
PROJECT_ID=your_project_id

# Ollama Models
OLLAMA_MODEL=llama3
OLLAMA_AI_MODEL=qwen2.5-coder:3b

# Elasticsearch
ELASTICSEARCH_HOST=http://localhost:9200